* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.title {
  position: absolute;
  left: 40px;
  top: 5%;
  transform: translateY(-50%);
  font-size: 36px;
  color: #4b2c20;
  font-weight: 600;
}

body {
  background-color: hsla(34, 57%, 83%, 0.747);
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box {
  background: white;
  width: 600px;
  padding: 50px;
  border-radius: 10px;
}

.top {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 2px solid #dbd1a3;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  background: #654779;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #e0f2fe;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  background: #090909;
  border: none;
  color: rgb(225, 248, 248);
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
